@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

footer {
	background-color: #3A3A3C;
	width: 100%;
	height: 140px;
}

footer #footer_conts, footer #footer_conts a {
	color: white;
	font-weight: blod;
	font-size: 0.9em;
	text-align: center;
}

footer #footer_conts p:first-child {
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	padding: 13px;
}