* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	background-color: white;
	font-size: 10pt;
	width: 100%;
	margin: 0 auto;
}

header a {
	text-decoration: none;
	font-weight: bold;
}

header li {
	list-style: none;
}

header .gnb {
	width: 100%;
	background-color: #F7941D;
}

header .gnb ul {
	overflow: hidden;
	width: 700px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}

header .gnb ul li {
	float: right;
	margin-right: 30px;
}

header .gnb a {
	color: white;
	font-size: 1.0em;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}

header .submenu {
	overflow: hidden;
	width: 1000px;
	height: 120px;
	line-height: 110px;
	margin: 0 auto;
}

header .submenu ul li {
	float: left;
	font-size: 1.3em;
	cursor: pointer;
	margin: 35px;
}

header .logo {
	width: 100px;
	text-align: right;
	margin: 10px auto;
	font-size: 2em;
	cursor: pointer;
}