@charset "UTF-8";

#wrap {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	margin: 0 auto;
}

#intro .im1 {
	float: center;
	width: 700px;
	text-align: center;
	line-height: 350px;
	margin-left: 7px;
	margin: 6px;
}