@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 1000px;
	height: 950px;
	margin: 0 auto; /* 가운데로 조정 */
	overflow: hidden;
}

#intro .intro2 {
	float: center;
	width: 700px;
	height: 250x;
	text-align: center;
	line-height: 350px;
	margin-left: 7px;
	margin: 6px;
}