@charset "UTF-8";

li {
	list-style: none;
}

a {
	text-decoration: none;
}

#wrap {
	width: 1000px;
	height: 950px;
	margin: 0 auto; /* 가운데로 조정 */
	overflow: hidden;
}

#content {
	width: 100%;
	margin: 0 auto;
}

#content .section1 {
	overflow: hidden;
}

#content .section1 .slide_banner {
	float: left;
	width: 860px;
	height: 300px;
	text-align: center;
	line-height: 350px;
	margin-left: 7px;
	margin: 6px;
}

#content .section2 .hitproduct {
	border: 1px solid black;
	overflow: hidden;
}

.p1 {
	position: relative;
}

.p2 {
	position: relative;
}

.p3 {
	position: relative;
}

.p4 {
	position: relative;
}

.imtext1 {
	position: absolute;
	top: 150px;
	left: 20px;
	z-index: 1;
	color: black;
	font-size: 25px;
	width: 300px;
	font-weight: bold;
}

.imtext2 {
	position: absolute;
	top: 150px;
	left: 20px;
	z-index: 1;
	color: black;
	font-size: 25px;
	width: 300px;
	font-weight: bold;
}

.imtext3 {
	position: absolute;
	top: 150px;
	left: 20px;
	z-index: 1;
	color: black;
	font-size: 25px;
	width: 300px;
	font-weight: bold;
}

.imtext4 {
	position: absolute;
	top: 130px;
	left: 20px;
	z-index: 1;
	color: black;
	font-size: 25px;
	width: 300px;
	font-weight: bold;
}

#content .section2 .hit_product p {
	float: left;
	width: 260px;
	height: 270px;
	margin: 7px;
	text-align: center;
	line-height: 180px;
	border: 2px solid lightgray;
}

#content .section2 .md_product p {
	float: left;
	border: 2px solid lightgray;
	width: 260px;
	height: 270px;
	margin: 7px;
	text-align: center;
	line-height: 200px;
}