#wrap {
	width: 1000px;
	height: 950px;
	margin: 0 auto; /* 가운데로 조정 */
	overflow: hidden;
}

#wrap table {
	margin: 10px;
	border: 2px solid pink;
	width: 90%;
	margin: 0px auto;
}

#wrap table tr {
	background-color: #FFE271;
	height: 40px;
}

#wrap table tr:hover {
	background-color: orange;
	cursor: pointer;
}

#wrap td, #content_form th {
	text-align: center;
	padding: 5px;
}

#wrap caption {
	font-size: 18px;
	padding: 10px;
}

#wrap .paging {
	text-align: center;
}